<!DOCTYPE html>
<html>
<head>
    {% load static %}
    {% include 'auth/index.html' %}
    <meta charset="utf-8">
    <title>About</title>
    <!-- <img src="{% static 'image/0C1D421A-6C87-4F28-89AF-C61DD53D6D31.jpeg' %}" class="background"> -->
    <script src="{% static 'js/effect.js' %}"></script>
</head>
<body>
    <div class="about-us-info" >
    </div>
    <!-- <div class="container"></div>
    <div class="carousel">
        <input id="indicator-1" class="carousel-indicator" type="radio" name="indicator">
        <img class="carousel-image" src="https://bit.ly/34O6BZO">
        <label for="indicator-1" class="carousel-button"></label>

        <input id="indicator-2" class="carousel-indicator" type="radio" name="indicator" checked>
        <img class="carousel-image" src="https://bit.ly/3ifqrjR">
        <label for="indicator-2" class="carousel-button"></label>

        <input id="indicator-3" class="carousel-indicator" type="radio" name="indicator">
        <img class="carousel-image" src="https://bit.ly/3wfhy26">
        <label for="indicator-3" class="carousel-button"></label>

        <input id="indicator-4" class="carousel-indicator" type="radio" name="indicator">
        <img class="carousel-image" src="https://bit.ly/363szIQ">
        <label for="indicator-4" class="carousel-button"></label>
    </div> -->

    <!-- <div>
        <img class="mySlides2 animate-fading" src="https://canxem.com/img/1.jpg">
        <img class="mySlides2 animate-fading" src="https://canxem.com/img/2.jpg">
        <img class="mySlides2 animate-fading" src="https://canxem.com/img/3.jpg">
        <img class="mySlides2 animate-fading" src="https://canxem.com/img/4.jpg">
      </div> -->

    <!-- <img src="{% static 'image/F3FE314F-4436-468F-B016-87740BA2D83C_1_105_c.jpeg' %}" id="image-about"> -->
    <div class="text-about-us">
        <span style="font-size: 2.3pc; color: black;">Hi! I`m</span>
        <span style="font-size: 2.3pc; font-weight: 700; font-family: Georgia, 'Times New Roman', Times, serif; color: black;">Huy</span>
        <p style="font-size: 1.2pc; font-family: Georgia, 'Times New Roman', Times, serif">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis.
        </p>
        
    </div>

</body>
</html>