<!DOCTYPE html>
<html>
<head>
    {% load static %}
    {% include 'auth/index.html' %}
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <!-- <img src="{% static 'image/F3FE314F-4436-468F-B016-87740BA2D83C_1_105_c.jpeg' %}" class="background"> -->
</head>
<body>
    <div class="form-info"></div>

    <div class="info-list">
        <p>Designer</p>
        <hr id="line"></hr>
        <span id="item-name">Name</span>
        <span id="name">Nguyễn Đức lê Huy</span>
        <p></p>
        <span id="item-DOB">D.O.B</span>
        <span id="DOB">21-11-2002</span>
        <p></p>
        <span id="item phone">Phone</span>
        <span id="phone">+84 345346097</span>
        <p></p>
        <span id="item-address">Address</span>
        <span id="address">Đống Đa, Hà Nội</span>
        <p></p>
        <span id="item-email">Email</span>
        <span id="email">lhuy211102@gmail.com</span>
        <p></p>
        <span id="item-website">Website</span>
        <span id="website">lehuy21.com</span>
    </div>

    <!-- <img src="{% static 'image/F3FE314F-4436-468F-B016-87740BA2D83C_1_105_c.jpeg' %}" class="image-cuong"> -->

</body>
</html>