<!DOCTYPE html>
<html>
<head>
    {% load static %}
    {% include 'auth/index.html' %}
    <meta charset="utf-8">
    <title>Service</title>
</head>
<body>
    <div class="background-service"></div>
    <div>
        <p style="text-align: center; margin-top: -18cm; font-size: 3pc; font-weight: 700;">My service</p>
        <hr id="line-service">
        <hr id="line-service-2">
    </div>

    <div class="category-content">
        <p id="circle-1">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim.
            </p>
        </p>
        <p id="circle-2"></p>
        <p id="circle-3"></p>
        <p id="circle-4"></p>
    </div>
</body>
</html>