<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="header-category">
        <p id="preface">P</p>
        <p id="reface">REFACE</p>
    </div>

    <div class="category-information">
        <a id="item-home" style="text-decoration: none;" href="/">Home</a>
        <a id="item-about" style="text-decoration: none;" href="/about">About</a>
        <a id="item-services" style="text-decoration: none;" href="/service">Services</a>
        <a id="item-ecperience" style="text-decoration: none;" href="/experience">Experience</a>
        <a id="item-portfolio" style="text-decoration: none;" href="/portfolio">Portfolio</a>
        <a id="item-contact" style="text-decoration: none;" href="/contact">Contact</a>
    </div>

    
</body>
</html>